<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/education.css")
        link(rel="stylesheet", href="/images/Pavan1.jpg")
    body
        nav
            a(href="/") Home
            a(href="/education") Education
            a(href="/Skills") Skills
            a(href="/Contact") Contact
    main
        .graduation
            h2 Graduation ........
            h1 Annamacharya Institute of Technology and Sciences
            h1 I was completed my B.Tech (Mech) in year of 2024 with 9.2 (C.G.P.A).
            h3 Place : Rajampet, Andhra Pradesh, India.
        .intermediate
            h2 Intermediate ........
            h1 Vijayawada Nalanda Junior College
            h3 I was completed my Intermediate in the 2020 year and passed with 6.42 (C.G.P.A).
            p Place : Nandyal, Andhra Pradesh, India.
        .school
            h2 School ........
            h1 Sri Raghavendra High School
            h3 I was completed my S.S.C in the 2018 year and passed with 9.2 (C.G.P.A).
            p Place : Chagalamarri, Andhra Pradesh, India.