<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/home.css")
    body
        nav
            a(href="/") Home
            a(href="/education") Education
            a(href="/skills") Skills
            a(href="/contact") Contact
    main
        .div2
            h1 Welcome to my Portfolio
            marquee 
                p I am inviting you for visit My Portfolio Page.
        .div1
            h2 Hello, I am
            h1 DURGA PAVAN
            h3 Fresher and I am the creator of the product that will be created in the future and will be available in the future as of the time this page is created.
            img(src="/images/Pavan1.jpg" alt="Durga Pavan")