<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/skills.css")
        link(rel="stylesheet", href="/images/Pavan1.jpg")
    body
        nav
            a(href="/") Home
            a(href = "/education") Education
            a(href="/skills") Skills
            a(href="/contact") Contact
    main
        table 
            tr 
                td Category
                td Programming Languages and tools
            tr
                td Frontend 
                td HTML, CSS, Bootstrap and JavaScript, React.js
            tr
                td Backend
                td Java, Node.js, Express.js, Hibernate
            tr
                td Database
                td MySQL, SQL, MongoDB
            tr
                td Design Software
                td CATIA V5, ANSYS
            tr
                td Other
                td Kali-Linux, gitHub
        br
        .intern
             h2 Internships - B.Tech
                ul
                    li  Attended for Indo Euro synchronization internship in Automatic Robot Control.
                    li  Competed Internship with Siege Tech and also designed a simple 4 wheeled robot using Arduino.
                    
